/*
font-family: 'Open Sans', sans-serif;
Light 300
Normal 400
Semi-Bold 600
Bold 700
Extra-Bold 800
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #636363;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 600;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #636363; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #336465;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #69C9CA;
  text-decoration: none;
}

H1 {
  font-size: 1.7em;
}

H2 {
  font-size: 1.5em;
}

INPUT[type="text"],
INPUT[type="email"],
INPUT[type="password"],
TEXTAREA {
  border: 0;
  box-sizing: border-box;
  width: 82.5%;
  padding: 0.1em 0.7em;
  background: #233D3C;
  color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  border-radius: 0; /* I prefer my styles, Steve Jobs */
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: auto; /* Good ol' IE */
  margin-bottom: 1em;
}

TEXTAREA {
  padding: 0.5em 0.7em;
  height: 10em;
}

INPUT[type="text"]:focus,
INPUT[type="email"]:focus,
INPUT[type="password"]:focus,
TEXTAREA:focus {
  background: #69C9CA;
}

INPUT::-webkit-input-placeholder { color: #EBEBEB; text-transform: uppercase; opacity: 1; }
INPUT:-moz-placeholder { color: #EBEBEB; text-transform: uppercase; opacity: 1; } /* FF 4-18 */
INPUT::-moz-placeholder { color: #EBEBEB; text-transform: uppercase; opacity: 1; } /* FF 19+ */
INPUT:-ms-input-placeholder { color: #EBEBEB; text-transform: uppercase; opacity: 1; } /* IE 10+ */
TEXTAREA::-webkit-input-placeholder { color: #EBEBEB; text-transform: uppercase; opacity: 1; }
TEXTAREA:-moz-placeholder { color: #EBEBEB; text-transform: uppercase; opacity: 1; } /* FF 4-18 */
TEXTAREA::-moz-placeholder { color: #EBEBEB; text-transform: uppercase; opacity: 1; } /* FF 19+ */
TEXTAREA:-ms-input-placeholder { color: #EBEBEB; text-transform: uppercase; opacity: 1; } /* IE 10+ */

INPUT:focus::-webkit-input-placeholder { color: transparent; }
INPUT:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
INPUT:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
INPUT:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */
TEXTAREA:focus::-webkit-input-placeholder { color: transparent; }
TEXTAREA:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
TEXTAREA:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
TEXTAREA:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

INPUT[type="submit"] {
  border: 0;
  box-sizing: border-box;
  padding: 0.6em 1.38em;
  border: 4px solid #CDCCCC;
  border-radius: 10px;
  background: transparent;
  color: #233D3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1em;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  margin: 0 auto;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
}

INPUT[type="submit"]:hover {
  color: #69C9CA;
}

INPUT[type="submit"]:focus {
  outline: none;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

.waves-white {
  background: url(../images/waves-white.png) left bottom repeat-x;
  padding-bottom: 22px;
}

.social A:link, .social A:visited {
  background: #69C9CA;
  color: #233D3C;
  line-height: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  padding: 0.4em;
  border-radius: 50%;
  border-top-right-radius: 0;
  margin: 0 0.15em;
}

.social A:hover, .social A:active {
  background: #FFFFFF;
}

.button {
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  text-transform: uppercase;
  line-height: 1em;
  padding: 0.6em 1.38em;
  display: inline-block;
}

.banner-home {
  height: 864px;
  background: url(../images/banner-home.jpg) center center no-repeat;
  background-size: cover;
}

.banner-home.subpage {
  height: 0;
}

.banner-home.subpage #logo {
  display: none;
}

.banner-home-header {
  height: 93px;
  padding-top: 20px;
}

.banner-home.subpage .banner-home-header {
  height: 89px;
  padding-top: 0;
}

.top-menu,
#show-menu {
  display: none;
}

#menu-toggle {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: normal;
  font-size: 250%;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 1000;
}

.banner-home.subpage #menu-toggle {
  display: none;
}

#menu-toggle:after {
  font-family: 'FontAwesome';
  content: "\f0c9";
}

#show-menu:checked + #menu-toggle:after {
  content: "\f00d";
}

#show-menu:checked + #menu-toggle + .top-menu {
  display: block;
}

.top-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 864px;
  background: rgba(35, 61, 60, .9);
  text-align: center;
}

.top-menu UL {
  margin: 140px 0 0.5em 0;
  padding: 0;
  list-style-type: none;
}

.top-menu UL LI.hide {
  display: none;
}

.top-menu UL LI {
  padding: 1em 0;
}

.top-menu UL LI A:link,
.top-menu UL LI A:visited {
  color: #69C9CA;
  text-decoration: none;
  font-weight: 800;
  font-size: 400%;
  line-height: 1em;
}

.top-menu UL LI A:hover,
.top-menu UL LI A:active {
  color: #FFFFFF;
  text-decoration: none;
}

.top-menu UL LI UL {
  display: none;
}

.top-menu UL LI:hover UL {
  display: block;
}

.top-menu .social {
  margin-top: 1.6em;
}

.banner-home-content {
  height: 751px;
}

.banner-home.subpage .banner-home-content {
  display: none;
}

.banner-home-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  font-size: 88.88%;
  color: #FFFFFF;
  text-transform: uppercase;
}

.banner-home-text H1 {
  margin: 0 0 0.3em;
  font-weight: 800;
  font-size: 687.5%;
  line-height: 1em;
  color: #69C9CA;
}

.menu-holder {
  height: 69px;
  position: relative;
}

.menu-holder.subpage {
  height: 89px;
}

.menu-sticky {
  background: #172827;
  width: 100%;
  height: 69px;
  line-height: 69px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(37,37,37,1);
  -moz-box-shadow: 0px 4px 15px 0px rgba(37,37,37,1);
  box-shadow: 0px 4px 15px 0px rgba(37,37,37,1);
  position: absolute;
  top: 0;
  z-index: 999;
}

.menu-light {
  background: #69C9CA;
}

.menu-holder.subpage .menu-sticky {
  height: 89px;
  line-height: 89px;
}

.menu-sticky.sticky {
  position: fixed;
}

#logo-small {
  float: left;
  margin-top: 10px;
  height: 49px;
  width: auto;
}

.menu-holder.subpage #logo-small {
  height: 68px;
}

.menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

.menu UL LI {
  float: left;
  padding-left: 3.7em;
  position: relative;
  z-index: 99;
}

.menu UL LI:first-child {
  padding-left: 0;
}

.menu UL LI A:link, .menu UL LI A:visited,
.menu UL LI UL LI A:link, .menu UL LI UL LI A:visited {
  color: #EBEBEB;
  text-decoration: none;
  font-weight: 700;
}

.menu UL LI:hover A,
.menu UL LI UL LI A:hover {
  color: #69C9CA;
  text-decoration: none;
}

.menu-light .menu UL LI:hover A,
.menu-light .menu UL LI UL LI A:hover {
  color: #172827;
}

.menu UL LI UL {
  display: none;
}

.menu UL LI:hover UL {
  display: block;
  position: absolute;
  top: 69px;
  left: 2.7em;
  background: #172827;
  padding-bottom: 0.5em;
  -webkit-box-shadow: inset 0px 14px 20px -10px rgba(37,37,37,1);
  -moz-box-shadow: inset 0px 14px 20px -10px rgba(37,37,37,1);
  box-shadow: inset 0px 14px 20px -10px rgba(37,37,37,1);
}

.menu UL LI UL LI {
  float: none;
  padding: 0;
}

.menu UL LI UL LI A {
  display: block;
  height: 1em;
  line-height: 1em;
  white-space: nowrap;
  padding: 0.5em 1em;
}

.capabilities-banner {
  padding: 6em 0;
  background: #69C9CA url(../images/capabilities.png) top left no-repeat;
  color: #FFFFFF;
  line-height: 2em;
}

.capabilities-banner-content {
  width: 95%;
}

.capabilities-banner-content H1 {
  margin: 0 0 0.5em;
  font-weight: 800;
  font-size: 444.44%;
  line-height: 1.2em;
  color: #233D3C;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.capabilities-banner-content H3 {
  margin: 0 0 0.7em;
  font-weight: 800;
  font-size: 133.33%;
  line-height: 1.2em;
  color: #233D3C;
}

.capabilities-banner-content A.button:link,
.capabilities-banner-content A.button:visited {
  margin-top: 4em;
  color: #233D3C;
  border-color: #233D3C;
  font-weight: 800;
}

.capabilities-banner-content A.button:hover,
.capabilities-banner-content A.button:active {
  color: #636363;
  border-color: #636363;
}

.capabilities-banner-content .cb-featured,
.capabilities-banner-content .cb-capabilities {
  padding-left: 2em;
  font-weight: 800;
  color: #336465;
}

.capabilities-banner-content .cb-capabilities {
  padding-left: 0;
  margin-top: 2em;
}

.capabilities-banner-content .cb-featured .fa,
.capabilities-banner-content .cb-capabilities .fa {
  color: #FFFFFF;
  font-size: 60%;
  position: relative;
  top: -0.3em;
}

.tile {
  float: left;
  width: 20%;
  position: relative;
  background-position: center center;
  background-size: cover;
}

.tile:after {
  padding-top: 100%;
  display: block;
  content: '';
}

.tile2x1, .tile2x2 { width: 40%; }
.tile2x1:after { padding-top: 50%; }
.tile1x2 { float: right; }
.tile1x2:after { padding-top: 200%; }

.tile-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

A.tile-link {
  opacity: 0;
  text-align: center;
}

A.tile-link:hover {
  opacity: 1;
  background: rgba(35, 61, 60, .9);
  color: #FFFFFF;
}

.tile-hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 72.22%;
}

.tile-hover-content .work-title {
  font-size: 107.69%;
  color: #69C9CA;
  line-height: 1em;
}

.tile-hover-content .work-waves {
  width: 45px;
  height: auto;
  position: relative;
  top: -8px;
}

.tile-hover-content H2 {
  margin: 0.3em 0 0;
  font-weight: 800;
  font-size: 307.69%;
  line-height: 1em;
}

.tile-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.8em;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .6);
  color: #FFFFFF;
  font-size: 116%;
  text-transform: uppercase;
}

.tile.blog .tile-content .blog-title {
  color: #69C9CA;
  font-weight: 700;
  font-size: 67%;
  line-height: 1em;
  text-transform: none;
  margin-bottom: 3em;
}

.tile.blog .tile-content .blog-footer {
  position: absolute;
  bottom: 1.8em;
  left: 0;
  width: 100%;
  padding: 0 1.8em;
  box-sizing: border-box;
  text-align: right;
  color: #69C9CA;
  font-weight: 700;
  font-size: 67%;
  line-height: 1em;
}

.tile.blog .tile-hover-content {
  font-size: 138.88%;
  font-weight: 800;
  color: #69C9CA;
}

.tile.blog .tile-hover-content .fa {
  color: #FFFFFF;
  font-size: 50%;
  position: relative;
  top: -0.3em;
}

.tile.twitter .tile-link {
  background: #EBEBEB;
  color: #233D3C;
  font-size: 88.88%;
  line-height: 1.4em;
  padding: 1.8em;
}

.tile.twitter .tile-link A.twitter-date:link,
.tile.twitter .tile-link A.twitter-date:visited {
  color: #69C9CA;
  font-weight: 700;
  font-size: 87.5%;
  line-height: 1em;
}

.tile.twitter .tile-link A:link,
.tile.twitter .tile-link A:visited {
  color: #233D3C;
}

.tile.twitter .tile-link A:hover,
.tile.twitter .tile-link A:active {
  color: #69C9CA;
}

.tile.twitter .tile-link .twitter-footer {
  position: absolute;
  bottom: 1.8em;
  left: 0;
  width: 100%;
  padding: 0 1.8em;
  box-sizing: border-box;
}

.tile.twitter .tile-link .twitter-footer A:link,
.tile.twitter .tile-link .twitter-footer A:visited {
  float: left;
  color: #69C9CA;
  font-size: 87.5%;
  line-height: 24px;
}

.tile.twitter .tile-link A.twitter-date:hover,
.tile.twitter .tile-link A.twitter-date:active,
.tile.twitter .tile-link .twitter-footer A:hover,
.tile.twitter .tile-link .twitter-footer A:active {
  color: #233D3C;
}

.tile.twitter .tile-link .twitter-footer .fa-twitter {
  font-size: 24px;
  float: right;
}

.prefooter-button {
  text-align: center;
  padding: 3.5em 0;
}

.prefooter-button A.button:link,
.prefooter-button A.button:visited {
  color: #233D3C;
  border-color: #69C9CA;
  font-weight: 800;
}

.prefooter-button A.button:hover,
.prefooter-button A.button:active {
  color: #69C9CA;
}

.prefooter {
  background: #162727;
  text-align: center;
  padding: 2em 0;
}

.prefooter H3 {
  display: inline-block;
  color: #69C9CA;
  font-weight: 800;
  font-size: 444.44%;
  line-height: 1em;
  margin: 0;
}

.fg-footer {
  padding: 2em 0;
  font-size: 72.22%;
  line-height: 1em;
  color: #336465;
  position: relative;
}

.fg-footer .sep {
  font-weight: 300;
  color: #C2C2C1;
  padding: 0 1em;
}

.fg-footer A:link,
.fg-footer A:visited {
  color: #336465;
}

.fg-footer A:hover,
.fg-footer A:active {
  color: #C2C2C1;
}

.fg-footer .social {
  display: inline-block;
}

.fg-footer .social A:link, .fg-footer .social A:visited {
  background: #336465;
  color: #FFFFFF;
}

.fg-footer .social A:hover, .fg-footer .social A:active {
  background: #C2C2C1;
}

.copyright {
  font-weight: 400;
  color: #C2C2C1;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.capabilities {
  padding: 2em 0;
  color: #336465;
  font-weight: 800;
  text-align: center;
}

.capabilities DIV {
  float: left;
  width: 20%;
  padding: 2.5em 0;
  line-height: 1em;
}

.our-method {
  padding: 4em 0;
  background: #233D3C;
  color: #FFFFFF;
}

.our-method .site-width H2 {
  margin: 0 0 1em;
  font-weight: 800;
  font-size: 444.44%;
  line-height: 1em;
  color: #69C9CA;
}

.our-method .site-width IMG {
  float: left;
}

.our-method .site-width DIV {
  float: right;
  width: 87%;
  line-height: 1.8em;
}

.our-method .site-width DIV H3 {
  margin: 0 0 0.7em;
  font-weight: 800;
  font-size: 222.22%;
  line-height: 0.8em;
}

.our-method .site-width SPAN {
  display: block;
  clear: both;
  height: 5em;
}

.about-banner {
  height: 497px;
  background: url(../images/about-banner.jpg) center center no-repeat;
  background-size: cover;
}

.about {
  padding: 4em 0 0;
  font-size: 111.11%;
  line-height: 2em
}

.lead {
  font-weight: 700;
  color: #69C9CA;
}

.about .fa-play {
  color: #69C9CA;
  font-size: 80%;
}

.about H2 {
  font-weight: 800;
  font-size: 350%;
  line-height: 1em;
  color: #233D3C;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.about .one-third {
  float: left;
  width: 29%;
  margin: 0 6.5% 5em 0;
  text-align: center;
}

.about .one-third:nth-of-type(3n) {
  margin-right: 0;
  clear: right;
}

.team {
  position: relative;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 1.4em;
}

.team:after {
  padding-top: 100%;
  display: block;
  content: '';
}

.team-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

A.team-link {
  opacity: 0;
}

A.team-link:hover {
  opacity: 1;
  background: rgba(50, 85, 84, .8);
  border-radius: 50%;
  color: #FFFFFF;
  cursor: default;
}

.team-hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
  font-size: 90%;
  line-height: 1.4em;
  color: #FFFFFF;
}

.team-name {
  font-weight: 800;
  line-height: 1em;
  color: #325554;
  padding-bottom: 0.4em;
}

.team-title {
  font-size: 60%;
  line-height: 1em;
  color: #325554;
  padding-bottom: 0.4em;
}

.team-social A:link, .team-social A:visited {
  background: #E7E7E7;
  font-size: 76%;
}

.team-social A:hover, .team-social A:active {
  background: #336465;
  color: #FFFFFF;
}

.team-text {
  font-size: 70%;
  line-height: 1.5em;
  color: #959595;
}

.worked-with {
  padding: 7em 0 0;
  background: #69C9CA;
  color: #233D3C;
  text-align: center;
  font-size: 66.66%;
}

.worked-with H2 {
  font-weight: 800;
  font-size: 666.66%;
  line-height: 1em;
  margin: 0 0 0.2em;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.worked-with .one-fifth {
  float: left;
  width: 18%;
  margin: 0 2.5% 7em 0;
  line-height: 1em;
  min-height: 126px;
  position: relative;
}

.worked-with .one-fifth:nth-of-type(5n) {
  margin-right: 0;
  clear: right;
}

.worked-with .one-fifth IMG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-banner {
  height: 497px;
  background: url(../images/contact-banner.jpg) center center no-repeat;
  background-size: cover;
}

.contact {
  background: url(../images/capabilities.png) top left no-repeat;
  padding: 5em 0;
  text-align: center;
  font-size: 111.11%;
  line-height: 1.8em;
  color: #959595;
}

.contact H2 {
  margin: 0 0 0.4em;
  font-weight: 800;
  font-size: 400%;
  line-height: 1em;
  color: #233D3C;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.contact .address {
  color: #336465;
}

.contact .address .sep {
  font-weight: 300;
  color: #C2C2C1;
  padding: 0 1em;
}

.contact .address A:link,
.contact .address A:visited {
  color: #336465;
}

.contact .address A:hover,
.contact .address A:active {
  color: #C2C2C1;
}

.contact .fa-play {
  color: #69C9CA;
  font-size: 80%;
}

#contact-form-messages {
  font-size: 90%;
  line-height: 1em;
  height: 1em;
  color: #E14E41;
  margin-bottom: 1.7em;
}

#map-canvas {
  width: 100%;
  height: 500px;
}

.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }

.blog-index,
.blog-single {
  padding: 1.4em 0;
  background: #69C9CA url(../images/capabilities.png) top left no-repeat;
  color: #233D3C;
  font-weight: 800;
  font-size: 444.44%;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.2em;
}

.blog-single {
  padding: 0;
  height: 446px;
  background-position: center center;
  background-size: cover;
}

.blog-single .site-width {
  display: none;
}

.entry-header {
  padding-bottom: 1.5em;
}

.entry-header .entry-title {
  margin: 0 0 0.3em;
  color: #233D3C;
  font-weight: 800;
  font-size: 388.88%;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.entry-header H4 {
  margin: 0;
  color: #B7B7B7;
  font-size: 88.88%;
  line-height: 1em;
  text-transform: uppercase;
}

.entry-content {
  color: #636363;
  line-height: 1.8em;
}

.entry-content P {
  padding-bottom: 1em;
}

.entry-content IMG {
  max-width: 100%;
  height: auto;
}

.entry-content A.readmore:link,
.entry-content A.readmore:visited {
  color: #69C9CA;
  font-weight: 800;
  line-height: 1em;
}

.entry-content A.readmore:hover,
.entry-content A.readmore:active {
  color: #233D3C;
}

.entry-content .readmore .fa-play {
  color: #233D3C;
  font-size: 60%;
  position: relative;
  top: -3px;
}

.blog-author {
  margin-top: 3em;
  border-top: 1px solid #E2E2E1;
  padding-top: 3em;
  color: #959595;
  font-size: 77.77%;
  line-height: 1.4em;
  height: 108px;
}

.blog-author DIV {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.blog-author H5 {
  font-weight: 700;
  font-size: 114.28%;
  color: #162727;
  margin: 0;
}

.blog-author IMG {
  float: left;
  border-radius: 50%;
  margin-right: 1em;
}

.site-main HR {
  margin: 5em 0;
  border-top-color: #E2E2E1;
}

.navigation {
  width: 1000px;
  margin: 0 auto;
  padding: 6em 0 2.5em;
  font-weight: 800;
  font-size: 111.11%;
}

.navigation H2 {
  display: none;
}

.navigation .page-numbers {
  margin-right: 0.8em;
  color: #69C9CA;
}

.navigation A.page-numbers:link,
.navigation A.page-numbers:visited {
  color: #233D3C;
}

.navigation A.page-numbers:hover,
.navigation A.page-numbers:active {
  color: #69C9CA;
}

.navigation .nav-previous {
  float: left;
  width: 50%;
}

.navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
  clear: right;
}

.navigation A .fa-play {
  color: #69C9CA;
  font-size: 60%;
  position: relative;
  top: -3px;
}

.alignleft {
  float: left;
  margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
  float: right;
  margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
  margin-bottom: 1.473684211em;
}



@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  INPUT[type="text"],
  INPUT[type="email"],
  INPUT[type="password"],
  TEXTAREA {
    width: 100%;
  }

  .site-width {
    width: 96%;
  }

  .banner-home-text {
    width: 100%;
  }

  #logo-small {
    display: none;
  }

  .menu-holder.subpage #logo-small {
    display: inline-block;
  }

  .menu UL {
    float: none;
  }

  .menu-holder.subpage .menu UL {
    display: none;
  }

  .menu UL LI {
    padding: 0 1.8em;
  }

  .menu .hide {
    display: none;
  }

  .banner-home.subpage #menu-toggle {
    display: block;
    position: fixed;
    top: 29px;
    right: 2%;
    transform: none;
  }

  .banner-home.subpage .top-menu {
    height: auto;
    padding-bottom: 2em;
    position: fixed;
  }

  .banner-home.subpage .top-menu UL {
    margin: 89px 0 0;
  }

  .capabilities-banner-content {
    width: 100%;
  }

  .capabilities-banner-content H1 {
    margin: 0 0 0.3em;
    line-height: 1.1em;
  }

  .capabilities-banner-content A.button:link,
  .capabilities-banner-content A.button:visited {
    margin-top: 2em;
  }

  .tile, .tile1x2, .tile2x1 {
    width: 50%;
  }

  .tile2x2 {
    width: 100%;
  }

  .tile:after, .tile1x2:after, .tile2x1:after {
    padding-top: 100%;
  }

  .tile2x2:after {
    padding-top: 50%;
  }

  .fg-footer {
    text-align: center;
  }

  .fg-footer .sep:last-of-type {
    display: block;
    visibility: hidden;
  }

  .fg-footer .social {
    margin: 0.75em 0 0.5em;
  }

  .copyright {
    position: static;
    transform: none;
    padding-top: 1em;
  }

  .capabilities DIV {
    width: 33%;
  }

  .our-method .site-width DIV {
    width: 80%;
  }

  .team-hover-content {
    padding: 1.5em;
    font-size: 70%;
    line-height: 1.3em;
  }

  .worked-with .one-fifth {
    width: 23.5%;
    margin-right: 2%;
  }

  .worked-with .one-fifth:nth-of-type(5n) {
    margin-right: 2%;
    clear: none;
  }

  .worked-with .one-fifth:nth-of-type(4n) {
    margin-right: 0;
    clear: right;
  }

  .worked-with .one-fifth IMG {
    max-width: 100%;
    height: auto;
  }

  .contact-banner {
    height: 400px;
  }

  .address .sep:first-of-type {
    display: block;
    visibility: hidden;
    height: 0.1em;
  }

  .navigation {
    width: 96%;
  }

  .navigation.post-navigation {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
  .prefooter H3 {
    font-size: 430%;
  }
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .banner-home, .top-menu {
    height: 764px;
  }

  .top-menu UL {
    margin-top: 90px;
  }

  .banner-home-content {
    height: 651px;
  }

  .banner-home-text H1 {
    font-size: 570%;
  }

  .menu-holder {
    display: none;
  }

  .menu-holder.subpage {
    display: block;
  }
  
  .prefooter H3 {
    font-size: 330%;
  }

  .fg-footer .sep:first-of-type {
    display: block;
    visibility: hidden;
  }

  .fg-footer .social A:link, .fg-footer .social A:visited {
    margin: 0 0.4em;
    font-size: 150%;
  }

  .capabilities DIV {
    width: 50%;
    padding: 2em 0;
  }

  .capabilities DIV:last-of-type {
    width: 100%;
  }

  .our-method .site-width DIV {
    width: 75%;
  }

  .about .one-third {
    width: 48%;
    margin: 0 4% 5em 0;
  }

  .about .one-third:nth-of-type(3n) {
    margin-right: 4%;
    clear: none;
  }

  .about .one-third:nth-of-type(2n) {
    margin-right: 0;
    clear: right;
  }

  .team-hover-content {
    font-size: 80%;
    line-height: 1.4em;
  }

  .worked-with .one-fifth {
    width: 32%;
  }

  .worked-with .one-fifth:nth-of-type(4n) {
    margin-right: 2%;
    clear: none;
  }

  .worked-with .one-fifth:nth-of-type(3n) {
    margin-right: 0;
    clear: right;
  }

  .contact-banner {
    height: 300px;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .banner-home-text H1,
  .capabilities-banner-content H1 {
    font-size: 370%;
  }

  .banner-home, .top-menu {
    height: 564px;
  }

  .banner-home-content {
    height: 451px;
  }

  .banner-home.subpage #menu-toggle,
  .banner-home.subpage .top-menu,
  .menu-holder.subpage .menu-sticky,
  .menu-holder.subpage .menu-sticky.sticky {
    position: absolute;
  }

  .top-menu UL LI {
    padding: 0.5em 0;
  }

  .top-menu UL LI A:link,
  .top-menu UL LI A:visited {
    font-size: 250%;
  }

  .top-menu .social A:link, .top-menu .social A:visited {
    font-size: 120%;
    margin: 0 0.3em;
  }

  .capabilities-banner {
    line-height: 1.5em;
  }

  .capabilities-banner-content H1 {
    line-height: 1em;
  }

  .tile, .tile1x2, .tile2x1 {
    width: 100%;
  }

  .tile2x2:after {
    padding-top: 100%;
  }

  .prefooter H3 {
    font-size: 210%;
  }

  .capabilities DIV {
    width: 100%;
  }

  .our-method .site-width DIV {
    width: 65%;
  }

  .about H2 {
    font-size: 300%;
  }

  .about .one-third {
    width: 100%;
    margin: 0 0 5em 0;
  }

  .about .one-third:nth-of-type(3n),
  .about .one-third:nth-of-type(2n) {
    margin-right: 0;
    clear: right;
  }

  .team-hover-content {
    font-size: 100%;
  }

  .worked-with {
    padding-bottom: 3em;
  }

  .worked-with .one-fifth {
    width: 45%;
    margin: 0 10% 4em 0;
  }
  
  .worked-with .one-fifth:nth-of-type(5n),
  .worked-with .one-fifth:nth-of-type(4n),
  .worked-with .one-fifth:nth-of-type(3n) {
    margin: 0 10% 4em 0;
    clear: none;
  }

  .worked-with .one-fifth:nth-of-type(2n) {
    margin-right: 0;
    clear: right;
  }

  .contact-banner {
    height: 250px;
  }

  .contact H2 {
    font-size: 350%;
  }

  .address .sep {
    display: block;
    visibility: hidden;
    height: 0.1em;
  }

  .entry-header .entry-title {
    font-size: 280%;
  }

  .entry-header H4 .sep {
    display: block;
    visibility: hidden;
  }
}

@media only screen and (max-width: 320px) {
  /* Small Phone */
  .banner-home-text H1,
  .capabilities-banner-content H1 {
    font-size: 310%;
  }

  .capabilities-banner-content .om-featured {
    padding-left: 1em;
  }

  .prefooter H3 {
    font-size: 180%;
  }

  .our-method .site-width H2 {
    font-size: 380%;
  }

  .our-method .site-width DIV H3 {
    font-size: 170%;
  }

  .our-method .site-width DIV {
    width: 60%;
  }

  .about H2 {
    font-size: 250%;
  }

  .worked-with H2 {
    font-size: 550%;
  }

  .contact H2 {
    font-size: 300%;
  }

  .entry-header .entry-title {
    font-size: 240%;
  }
}