/*
font-family: 'Open Sans', sans-serif;
Light 300
Normal 400
Semi-Bold 600
Bold 700
Extra-Bold 800
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #636363;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 600;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #636363; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #0000FF;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #FF0000;
  text-decoration: none;
}

H1 {
  font-size: 1.7em;
}

H2 {
  font-size: 1.5em;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.waves-white {
  background: url(../images/waves-white.png) left bottom repeat-x;
  padding-bottom: 22px;
}

.social A:link, .social A:visited {
  background: #69C9CA;
  color: #233D3C;
  line-height: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  padding: 0.4em;
  border-radius: 50%;
  border-top-right-radius: 0;
  margin: 0 0.15em;
}

.social A:hover, .social A:active {
  background: #FFFFFF;
}

.button {
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  text-transform: uppercase;
  line-height: 1em;
  padding: 0.6em 1.38em;
  display: inline-block;
}

.banner-home {
  height: 864px;
  background: url(../images/banner-home.jpg) center center no-repeat;
  background-size: cover;
}

.banner-home.subpage {
  height: 0;
}

.banner-home.subpage #logo {
  display: none;
}

.banner-home-header {
  height: 93px;
  padding-top: 20px;
}

.banner-home.subpage .banner-home-header {
  height: 69px;
  padding-top: 0;
}

.top-menu,
#show-menu {
  display: none;
}

#menu-toggle {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: normal;
  font-size: 250%;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 1000;
}

.banner-home.subpage #menu-toggle {
  display: none;
}

#menu-toggle:after {
  font-family: 'FontAwesome';
  content: "\f0c9";
}

#show-menu:checked + #menu-toggle:after {
  content: "\f00d";
}

#show-menu:checked + #menu-toggle + .top-menu {
  display: block;
}

.top-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 864px;
  background: rgba(35, 61, 60, .9);
  text-align: center;
}

.top-menu UL {
  margin: 140px 0 0.5em 0;
  padding: 0;
  list-style-type: none;
}

.top-menu UL LI.hide {
  display: none;
}

.top-menu UL LI {
  padding: 1em 0;
}

.top-menu UL LI A:link,
.top-menu UL LI A:visited {
  color: #69C9CA;
  text-decoration: none;
  font-weight: 800;
  font-size: 400%;
  line-height: 1em;
}

.top-menu UL LI A:hover,
.top-menu UL LI A:active {
  color: #FFFFFF;
  text-decoration: none;
}

.top-menu UL LI UL {
  display: none;
}

.top-menu UL LI:hover UL {
  display: block;
}

.top-menu .social {
  margin-top: 1.6em;
}

.banner-home-content {
  height: 751px;
}

.banner-home.subpage .banner-home-content {
  display: none;
}

.banner-home-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  font-size: 88.88%;
  color: #FFFFFF;
  text-transform: uppercase;
}

.banner-home-text H1 {
  margin: 0 0 0.3em;
  font-weight: 800;
  font-size: 687.5%;
  line-height: 1em;
  color: #69C9CA;
}

.menu-holder {
  height: 69px;
  position: relative;
}

.menu-sticky {
  background: #172827;
  width: 100%;
  height: 69px;
  line-height: 69px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(37,37,37,1);
  -moz-box-shadow: 0px 4px 15px 0px rgba(37,37,37,1);
  box-shadow: 0px 4px 15px 0px rgba(37,37,37,1);
  position: absolute;
  top: 0;
  z-index: 999;
}

.menu-sticky.sticky {
  position: fixed;
}

#logo-small {
  float: left;
  margin-top: 10px;
}

.menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

.menu UL LI {
  float: left;
  padding-left: 3.7em;
  position: relative;
  z-index: 99;
}

.menu UL LI:first-child {
  padding-left: 0;
}

.menu UL LI A:link, .menu UL LI A:visited,
.menu UL LI UL LI A:link, .menu UL LI UL LI A:visited {
  color: #EBEBEB;
  text-decoration: none;
  font-weight: 700;
}

.menu UL LI:hover A,
.menu UL LI UL LI A:hover {
  color: #69C9CA;
  text-decoration: none;
}

.menu UL LI UL {
  display: none;
}

.menu UL LI:hover UL {
  display: block;
  position: absolute;
  top: 69px;
  left: 2.7em;
  background: #172827;
  padding-bottom: 0.5em;
  -webkit-box-shadow: inset 0px 14px 20px -10px rgba(37,37,37,1);
  -moz-box-shadow: inset 0px 14px 20px -10px rgba(37,37,37,1);
  box-shadow: inset 0px 14px 20px -10px rgba(37,37,37,1);
}

.menu UL LI UL LI {
  float: none;
  padding: 0;
}

.menu UL LI UL LI A {
  display: block;
  height: 1em;
  line-height: 1em;
  white-space: nowrap;
  padding: 0.5em 1em;
}

.our-method {
  height: 700px;
  background: #69C9CA url(../images/our-method.png) top left no-repeat;
  color: #FFFFFF;
  line-height: 2em;
}

.our-method .site-width {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.our-method-content {
  width: 95%;
}

.our-method-content H1 {
  margin: 0 0 0.5em;
  font-weight: 800;
  font-size: 444.44%;
  line-height: 1.2em;
  color: #233D3C;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.our-method-content A.button:link,
.our-method-content A.button:visited {
  margin-top: 4em;
  color: #233D3C;
  border-color: #233D3C;
  font-weight: 800;
}

.our-method-content A.button:hover,
.our-method-content A.button:active {
  color: #636363;
  border-color: #636363;
}

.our-method-content .om-featured {
  padding-left: 2em;
  font-weight: 800;
  color: #336465;
}

.our-method-content .om-featured .fa {
  color: #FFFFFF;
  font-size: 60%;
  position: relative;
  top: -0.3em;
}

.tile {
  float: left;
  width: 20%;
  position: relative;
  background-position: center center;
  background-size: cover;
}

.tile:after {
  padding-top: 100%;
  display: block;
  content: '';
}

.tile2x1, .tile2x2 { width: 40%; }
.tile2x1:after { padding-top: 50%; }
.tile1x2 { float: right; }
.tile1x2:after { padding-top: 200%; }

.tile-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

A.tile-link {
  opacity: 0;
  text-align: center;
}

A.tile-link:hover {
  opacity: 1;
  background: rgba(35, 61, 60, .9);
  color: #FFFFFF;
}

.tile-hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 72.22%;
}

.tile-hover-content .work-title {
  font-size: 107.69%;
  color: #69C9CA;
  line-height: 1em;
}

.tile-hover-content .work-waves {
  width: 45px;
  height: auto;
  position: relative;
  top: -8px;
}

.tile-hover-content H2 {
  margin: 0.3em 0 0;
  font-weight: 800;
  font-size: 307.69%;
  line-height: 1em;
}

.tile-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.8em;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .6);
  color: #FFFFFF;
  font-size: 116%;
  text-transform: uppercase;
}

.tile.blog .tile-content .blog-title {
  color: #69C9CA;
  font-weight: 700;
  font-size: 67%;
  line-height: 1em;
  text-transform: none;
  margin-bottom: 3em;
}

.tile.blog .tile-content .blog-footer {
  position: absolute;
  bottom: 1.8em;
  left: 0;
  width: 100%;
  padding: 0 1.8em;
  box-sizing: border-box;
  text-align: right;
  color: #69C9CA;
  font-weight: 700;
  font-size: 67%;
  line-height: 1em;
}

.tile.blog .tile-hover-content {
  font-size: 138.88%;
  font-weight: 800;
  color: #69C9CA;
}

.tile.blog .tile-hover-content .fa {
  color: #FFFFFF;
  font-size: 50%;
  position: relative;
  top: -0.3em;
}

.tile.twitter .tile-link {
  background: #EBEBEB;
  color: #233D3C;
  font-size: 88.88%;
  line-height: 1.4em;
  padding: 1.8em;
}

.tile.twitter .tile-link A.twitter-date:link,
.tile.twitter .tile-link A.twitter-date:visited {
  color: #69C9CA;
  font-weight: 700;
  font-size: 87.5%;
  line-height: 1em;
}

.tile.twitter .tile-link A:link,
.tile.twitter .tile-link A:visited {
  color: #233D3C;
}

.tile.twitter .tile-link A:hover,
.tile.twitter .tile-link A:active {
  color: #69C9CA;
}

.tile.twitter .tile-link .twitter-footer {
  position: absolute;
  bottom: 1.8em;
  left: 0;
  width: 100%;
  padding: 0 1.8em;
  box-sizing: border-box;
}

.tile.twitter .tile-link .twitter-footer A:link,
.tile.twitter .tile-link .twitter-footer A:visited {
  float: left;
  color: #69C9CA;
  font-size: 87.5%;
  line-height: 24px;
}

.tile.twitter .tile-link A.twitter-date:hover,
.tile.twitter .tile-link A.twitter-date:active,
.tile.twitter .tile-link .twitter-footer A:hover,
.tile.twitter .tile-link .twitter-footer A:active {
  color: #233D3C;
}

.tile.twitter .tile-link .twitter-footer .fa-twitter {
  font-size: 24px;
  float: right;
}

.prefooter-button {
  text-align: center;
  padding: 3.5em 0;
}

.prefooter-button A.button:link,
.prefooter-button A.button:visited {
  color: #233D3C;
  border-color: #69C9CA;
  font-weight: 800;
}

.prefooter-button A.button:hover,
.prefooter-button A.button:active {
  color: #69C9CA;
}

.prefooter {
  background: #162727;
  text-align: center;
  padding: 2em 0;
}

.prefooter H3 {
  display: inline-block;
  color: #69C9CA;
  font-weight: 800;
  font-size: 444.44%;
  line-height: 1em;
  margin: 0;
}

.fg-footer {
  padding: 2em 0;
  font-size: 72.22%;
  line-height: 1em;
  color: #336465;
  position: relative;
}

.fg-footer .sep {
  font-weight: 300;
  color: #C2C2C1;
  padding: 0 1em;
}

.fg-footer A:link,
.fg-footer A:visited {
  color: #336465;
}

.fg-footer A:hover,
.fg-footer A:active {
  color: #C2C2C1;
}

.fg-footer .social {
  display: inline-block;
}

.fg-footer .social A:link, .fg-footer .social A:visited {
  background: #336465;
  color: #FFFFFF;
}

.fg-footer .social A:hover, .fg-footer .social A:active {
  background: #C2C2C1;
}

.copyright {
  font-weight: 400;
  color: #C2C2C1;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}




@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .site-width {
    width: 96%;
  }

  .banner-home-text {
    width: 100%;
  }

  #logo-small {
    display: none;
  }

  .menu-holder.subpage #logo-small {
    display: inline-block;
  }

  .menu UL {
    float: none;
  }

  .menu-holder.subpage .menu UL {
    display: none;
  }

  .menu UL LI {
    padding: 0 1.8em;
  }

  .menu .hide {
    display: none;
  }

  .banner-home.subpage #menu-toggle {
    display: block;
    position: fixed;
    top: 22px;
    right: 2%;
    transform: none;
  }

  .banner-home.subpage .top-menu {
    height: auto;
    padding-bottom: 2em;
    position: fixed;
  }

  .banner-home.subpage .top-menu UL {
    margin: 69px 0 0;
  }

  .our-method-content {
    width: 100%;
  }

  .our-method-content H1 {
    margin: 0 0 0.3em;
    line-height: 1.1em;
  }

  .our-method-content A.button:link,
  .our-method-content A.button:visited {
    margin-top: 2em;
  }

  .tile, .tile1x2, .tile2x1 {
    width: 50%;
  }

  .tile2x2 {
    width: 100%;
  }

  .tile:after, .tile1x2:after, .tile2x1:after {
    padding-top: 100%;
  }

  .tile2x2:after {
    padding-top: 50%;
  }

  .fg-footer {
    text-align: center;
  }

  .fg-footer .sep:last-of-type {
    display: block;
    visibility: hidden;
  }

  .fg-footer .social {
    margin: 0.75em 0 0.5em;
  }

  .copyright {
    position: static;
    transform: none;
    padding-top: 1em;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .banner-home, .top-menu {
    height: 764px;
  }

  .top-menu UL {
    margin-top: 90px;
  }

  .banner-home-content {
    height: 651px;
  }

  .banner-home-text H1 {
    font-size: 570%;
  }

  .menu-holder {
    display: none;
  }

  .menu-holder.subpage {
    display: block;
  }
  
  .prefooter H3 {
    font-size: 380%;
  }

  .fg-footer .sep:first-of-type {
    display: block;
    visibility: hidden;
  }

  .fg-footer .social A:link, .fg-footer .social A:visited {
    margin: 0 0.4em;
    font-size: 150%;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .banner-home-text H1,
  .our-method-content H1 {
    font-size: 370%;
  }

  .banner-home, .top-menu {
    height: 564px;
  }

  .banner-home-content {
    height: 451px;
  }

  .banner-home.subpage #menu-toggle,
  .banner-home.subpage .top-menu,
  .menu-holder.subpage .menu-sticky,
  .menu-holder.subpage .menu-sticky.sticky {
    position: absolute;
  }

  .top-menu UL LI {
    padding: 0.5em 0;
  }

  .top-menu UL LI A:link,
  .top-menu UL LI A:visited {
    font-size: 250%;
  }

  .top-menu .social A:link, .top-menu .social A:visited {
    font-size: 120%;
    margin: 0 0.3em;
  }

  .our-method {
    line-height: 1.5em;
  }

  .our-method-content H1 {
    line-height: 1em;
  }

  .tile, .tile1x2, .tile2x1 {
    width: 100%;
  }

  .tile2x2:after {
    padding-top: 100%;
  }

  .prefooter H3 {
    font-size: 250%;
  }
}

@media only screen and (max-width: 320px) {
  /* Small Phone */
  .banner-home-text H1,
  .our-method-content H1 {
    font-size: 310%;
  }

  .our-method-content .om-featured {
    padding-left: 1em;
  }

  .prefooter H3 {
    font-size: 200%;
  }
}