.project {
  padding: 5em 0;
}

.project .one-half {
  float: left;
  width: 47%;
  text-align: right;
  font-size: 77.77%;
  color: #B7B7B7;
}

.project .one-half H2 {
  color: #D32728;
  font-weight: 800;
  font-size: 485.714%;
  line-height: 1em;
  margin: 0 0 0.2em;
}

.project .one-half-right {
  float: right;
  width: 49%;
  line-height: 1.8em;
}

.project .one-third {
  float: left;
  width: 27.5%;
  text-align: right;
  font-size: 77.77%;
  color: #B7B7B7;
}

.project .two-third {
  float: right;
  width: 67%;
  line-height: 1.8em;
}

.project .one-third H2 {
  color: #162727;
  font-weight: 800;
  font-size: 528.57%;
  line-height: 1em;
  margin: 0 0 0.2em;
}

.project .task {
  font-size: 14px;
  line-height: 1em;
  color: #B7B7B7;
}

.project .fa-play {
  color: #69C9CA;
}

.project IMG {
  max-width: 100%;
  height: auto;
}

.tee-to-green-mobile {
  position: relative;
  max-height: 800px;
  background: url(../images/tee-to-green-mobile.jpg) center center no-repeat;
  background-size: cover;
}

.tee-to-green-mobile:after {
  padding-top: 80%;
  display: inline-block;
  content: '';
}

.tee-to-green-laptop {
  position: relative;
  max-height: 375px;
  background: url(../images/tee-to-green-laptop.jpg) center center no-repeat;
  background-size: cover;
}

.tee-to-green-laptop:after {
  padding-top: 37.5%;
  display: inline-block;
  content: '';
}

.tee-to-green-print {
  position: relative;
  max-height: 747px;
  background: url(../images/tee-to-green-print.jpg) center center no-repeat;
  background-size: cover;
}

.tee-to-green-print:after {
  padding-top: 74.7%;
  display: inline-block;
  content: '';
}

.gossen-product-guide-stack {
  position: relative;
  max-height: 1133px;
  background: url(../images/gossen-product-guide-stack.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-product-guide-stack:after {
  padding-top: 113.3%;
  display: inline-block;
  content: '';
}

.gossen-product-guide-stack .site-width DIV {
  width: 30%;
  font-size: 77.77%;
  color: #B7B7B7;
  padding-top: 4.5em;
}

.gossen-product-guide-stack .site-width DIV H2 {
  color: #263870;
  font-weight: 800;
  font-size: 514.28%;
  line-height: 1em;
  margin: 0 0 0.2em;
}

.gossen-product-guide-stack .site-width DIV .fa-play {
  color: #69C9CA;
}

.gossen-product-guide-closeup {
  position: relative;
  max-height: 805px;
  background: url(../images/gossen-product-guide-closeup.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-product-guide-closeup:after {
  padding-top: 80.5%;
  display: inline-block;
  content: '';
}

.gossen-product-guide-mockup {
  position: relative;
  max-height: 870px;
  background: url(../images/gossen-product-guide-mockup.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-product-guide-mockup:after {
  padding-top: 87%;
  display: inline-block;
  content: '';
}

.gossen-product-guide-open {
  position: relative;
  max-height: 804px;
  background: url(../images/gossen-product-guide-open.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-product-guide-open:after {
  padding-top: 80.4%;
  display: inline-block;
  content: '';
}

.mortons-tablet {
  position: relative;
  max-height: 750px;
  background: url(../images/mortons-tablet.jpg) center center no-repeat;
  background-size: cover;
}

.mortons-tablet:after {
  padding-top: 75%;
  display: inline-block;
  content: '';
}

.mortons-laptop {
  position: relative;
  max-height: 650px;
  background: url(../images/mortons-laptop.jpg) center center no-repeat;
  background-size: cover;
}

.mortons-laptop:after {
  padding-top: 65%;
  display: inline-block;
  content: '';
}

.project-fear {
  background: #E9E8E8;
}

.fear-left {
  float: left;
  width: 34%;
  text-align: right;
  line-height: 1.6em;
}

.fear-right {
  float: right;
  width: 61%;
}

.fear-left H2 {
  margin: 0 0 0.3em;
  color: #047A85;
  font-weight: 800;
  font-size: 411.11%;
  line-height: 1em;
}

.fear-tablet {
  position: relative;
  max-height: 845px;
  background: url(../images/fear-tablet.jpg) center center no-repeat;
  background-size: cover;
}

.fear-tablet:after {
  padding-top: 84.5%;
  display: inline-block;
  content: '';
}

.fear-green {
  background: #02565D;
}

.fear-green-left {
  float: left;
  width: 59%;
}

.fear-green-right {
  float: right;
  width: 39%;
}

.fear-green-right H2 {
  margin-bottom: 2em;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 250%;
  line-height: 1em;
}

.fear-green A.button:link,
.fear-green A.button:visited {
  border-color: #69C9CA;
  color: #FFFFFF;
  font-weight: 700;
}

.fear-green A.button:hover,
.fear-green A.button:active {
  color: #69C9CA;
}

.sullivan-banner {
  position: relative;
  max-height: 500px;
  background: url(../images/sullivan-banner.jpg) center center no-repeat;
  background-size: cover;
}

.sullivan-banner:after {
  padding-top: 50%;
  display: inline-block;
  content: '';
}

.sullivan-banner .project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sullivan-banner H2 {
  margin: 0 0 0.4em;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 466.66%;
  line-height: 1em;
}

.sullivan-banner .task {
  margin-bottom: 4em;
}

.sullivan-green {
  background: #74AA42;
  padding: 5em 0;
}

.sullivan-green IMG {
  float: left;
  width: 22.6%;
  height: auto;
  margin-left: 3.2%;
}

.sullivan-green IMG:first-child {
  margin-left: 0;
}

.sullivan-gray {
  background: #37424A;
  color: #FFFFFF;
}

.sullivan-gallery .fancybox {
  float: left;
  line-height: 0;
  margin: 0 1.7% 1em 0;
  background-size: cover !important;
  background-position: center !important;
}

.sullivan-gallery .fancybox.last {
  margin: 0 0 1em 0;
}

.sullivan-gallery .fancybox IMG {
  visibility: hidden;
}

.sullivan-gallery .fancybox:hover IMG {
  visibility: visible;
}

.sullivan-gallery A.button:link,
.sullivan-gallery A.button:visited {
  border-color: #69C9CA;
  color: #162727;
  font-weight: 800;
}

.sullivan-gallery A.button:hover,
.sullivan-gallery A.button:active {
  color: #69C9CA;
}

.belardi-left {
  float: left;
  width: 34%;
  text-align: right;
  line-height: 1.6em;
}

.belardi-right {
  float: right;
  width: 61%;
}

.belardi-left H2 {
  margin: 0 0 0.3em;
  color: #D9B26C;
  font-weight: 800;
  font-size: 411.11%;
  line-height: 1em;
}

.belardi-gray {
  background: #252525;
  padding: 5em 0;
}

.belardi-gray IMG {
  float: left;
  width: 20.8%;
  height: auto;
  margin-left: 5.6%;
}

.belardi-gray IMG:first-child {
  margin-left: 0;
}

.belardi-gold {
  background: #D5B576;
}

.belardi A.button:link,
.belardi A.button:visited {
  border-color: #69C9CA;
  color: #162727;
  font-weight: 800;
}

.belardi A.button:hover,
.belardi A.button:active {
  color: #69C9CA;
}

.project-nav {
  border-top: 1px solid #E2E2E1;
  padding: 2em 0;
}

.project-nav .prev,
.project-nav .home,
.project-nav .next {
  float: left;
  width: 40%;
}

.project-nav .home {
  width: 20%;
  text-align: center;
}

.project-nav .next {
  text-align: right;
}

.project-nav A:link,
.project-nav A:visited {
  font-weight: 800;
  font-size: 111.11%;
  color: #636363;
}

.project-nav .home A:link,
.project-nav .home A:visited {
  color: #E2E2E1;
}

.project-nav A:hover,
.project-nav A:active,
.project-nav .home A:hover,
.project-nav .home A:active {
  color: #69C9CA;
}

.project-nav .fa-play {
  color: #69C9CA;
  font-size: 60%;
  position: relative;
  top: -3px;
}


@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .project .one-half H2 {
    font-size: 350%;
  }

  .project .one-third H2 {
    font-size: 420%;
  }

  .fear-left {
    width: 50%;
  }

  .fear-right {
    width: 45%;
  }

  .fear-green-right H2 {
    margin: 0 0 1.5em;
  }

  .sullivan-gallery .fancybox {
    width: 23.725%;
  }

  .belardi-left {
    width: 50%;
  }

  .belardi-right {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .project .one-half,
  .project .one-half-right,
  .project .one-third,
  .project .two-third {
    float: none;
    width: 100%;
    text-align: left;
  }

  .project .one-half H2 {
    font-size: 485.714%;
  }

  .project .one-third H2 {
    font-size: 528.57%;
  }

  .gossen-product-guide-stack .site-width DIV H2 {
    font-size: 420%;
  }

  .fear-left,
  .fear-right,
  .fear-green-left,
  .fear-green-right {
    float: none;
    width: 100%;
  }

  .fear-left {
    text-align: left;
    margin-bottom: 2em;
  }

  .fear-green-right H2 {
    margin: 2em 0 1em;
  }

  .sullivan-banner H2 {
    font-size: 400%;
  }

  .sullivan-green {
    padding: 4em 0;
  }

  .sullivan-green IMG,
  .sullivan-green IMG:first-child {
    width: 40%;
    margin: 1em 5%;
  }

  .sullivan-gallery .fancybox,
  .sullivan-gallery .fancybox.last {
    width: 48.2%;
    margin: 0 0.9% 0.9em 0.9%;
  }

  .sullivan-gallery .fancybox IMG {
    width: 100%;
  }

  .belardi-left,
  .belardi-right {
    float: none;
    width: 100%;
  }

  .belardi-left {
    text-align: left;
    margin-bottom: 2em;
  }

  .belardi-gray {
    padding: 4em 0;
  }

  .belardi-gray IMG,
  .belardi-gray IMG:first-child {
    width: 37%;
    margin: 1em 6.5%;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .project .one-half H2 {
    font-size: 390%;
  }

  .gossen-product-guide-stack .site-width DIV {
    width: 100%;
    padding-top: 1.5em;
  }

  .gossen-product-guide-stack .site-width DIV H2 {
    font-size: 300%;
  }

  .sullivan-banner H2 {
    font-size: 270%;
  }

  .sullivan-banner .task {
    margin-bottom: 1.5em;
  }

  .sullivan-gallery .fancybox,
  .sullivan-gallery .fancybox.last {
    float: none;
    margin: 0 auto 0.9em;
    display: block;
    width: 96%;
    height: auto;
  }

  .project-nav .prev,
  .project-nav .home,
  .project-nav .next {
    float: none;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  /* Small Phone */
  .project .one-half H2 {
    font-size: 320%;
  }

  .fear-left H2 {
    font-size: 390%;
  }

  .sullivan-banner H2 {
    font-size: 230%;
  }

  .belardi-left H2 {
    font-size: 390%;
  }
}