.project {
  padding: 5em 0;
}

.project .one-half {
  float: left;
  width: 47%;
  text-align: right;
  font-size: 77.77%;
  color: #B7B7B7;
}

.project .one-half H2 {
  color: #D32728;
  font-weight: 800;
  font-size: 485.714%;
  line-height: 1em;
  margin: 0 0 0.2em;
}

.project .one-half-right {
  float: right;
  width: 49%;
  line-height: 1.8em;
}

.project .one-third {
  float: left;
  width: 27.5%;
  text-align: right;
  font-size: 77.77%;
  color: #B7B7B7;
}

.project .two-third {
  float: right;
  width: 67%;
  line-height: 1.8em;
}

.project .one-third H2 {
  color: #162727;
  font-weight: 800;
  font-size: 528.57%;
  line-height: 1em;
  margin: 0 0 0.2em;
}

.project .task {
  font-size: 14px;
  line-height: 1em;
  color: #B7B7B7;
}

.project .fa-play {
  color: #69C9CA;
}

.project IMG {
  max-width: 100%;
  height: auto;
}

.tee-to-green-mobile {
  position: relative;
  max-height: 800px;
  background: url(../images/tee-to-green-mobile.jpg) center center no-repeat;
  background-size: cover;
}

.tee-to-green-mobile:after {
  padding-top: 80%;
  display: inline-block;
  content: '';
}

.tee-to-green-laptop {
  position: relative;
  max-height: 375px;
  background: url(../images/tee-to-green-laptop.jpg) center center no-repeat;
  background-size: cover;
}

.tee-to-green-laptop:after {
  padding-top: 37.5%;
  display: inline-block;
  content: '';
}

.tee-to-green-print {
  position: relative;
  max-height: 747px;
  background: url(../images/tee-to-green-print.jpg) center center no-repeat;
  background-size: cover;
}

.tee-to-green-print:after {
  padding-top: 74.7%;
  display: inline-block;
  content: '';
}

.gossen-product-guide-stack {
  position: relative;
  max-height: 1133px;
  background: url(../images/gossen-product-guide-stack.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-product-guide-stack:after {
  padding-top: 113.3%;
  display: inline-block;
  content: '';
}

.gossen-product-guide-stack .site-width DIV {
  width: 30%;
  font-size: 77.77%;
  color: #B7B7B7;
  padding-top: 4.5em;
}

.gossen-product-guide-stack .site-width DIV H2 {
  color: #263870;
  font-weight: 800;
  font-size: 514.28%;
  line-height: 1em;
  margin: 0 0 0.2em;
}

.gossen-product-guide-stack .site-width DIV .fa-play {
  color: #69C9CA;
}

.gossen-product-guide-closeup {
  position: relative;
  max-height: 805px;
  background: url(../images/gossen-product-guide-closeup.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-product-guide-closeup:after {
  padding-top: 80.5%;
  display: inline-block;
  content: '';
}

.gossen-product-guide-mockup {
  position: relative;
  max-height: 870px;
  background: url(../images/gossen-product-guide-mockup.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-product-guide-mockup:after {
  padding-top: 87%;
  display: inline-block;
  content: '';
}

.gossen-product-guide-open {
  position: relative;
  max-height: 804px;
  background: url(../images/gossen-product-guide-open.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-product-guide-open:after {
  padding-top: 80.4%;
  display: inline-block;
  content: '';
}

.mortons-tablet {
  position: relative;
  max-height: 750px;
  background: url(../images/mortons-tablet.jpg) center center no-repeat;
  background-size: cover;
}

.mortons-tablet:after {
  padding-top: 75%;
  display: inline-block;
  content: '';
}

.mortons-laptop {
  position: relative;
  max-height: 650px;
  background: url(../images/mortons-laptop.jpg) center center no-repeat;
  background-size: cover;
}

.mortons-laptop:after {
  padding-top: 65%;
  display: inline-block;
  content: '';
}

.project-fear {
  background: #E9E8E8;
}

.fear-left {
  float: left;
  width: 34%;
  text-align: right;
  line-height: 1.6em;
}

.fear-right {
  float: right;
  width: 61%;
}

.fear-left H2 {
  margin: 0 0 0.3em;
  color: #047A85;
  font-weight: 800;
  font-size: 411.11%;
  line-height: 1em;
}

.fear-tablet {
  position: relative;
  max-height: 845px;
  background: url(../images/fear-tablet.jpg) center center no-repeat;
  background-size: cover;
}

.fear-tablet:after {
  padding-top: 84.5%;
  display: inline-block;
  content: '';
}

.fear-green {
  background: #02565D;
}

.fear-green-left {
  float: left;
  width: 59%;
}

.fear-green-right {
  float: right;
  width: 39%;
}

.fear-green-right H2 {
  margin-bottom: 2em;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 250%;
  line-height: 1em;
}

.fear-green A.button:link,
.fear-green A.button:visited {
  border-color: #69C9CA;
  color: #FFFFFF;
  font-weight: 700;
}

.fear-green A.button:hover,
.fear-green A.button:active {
  color: #69C9CA;
}

.sullivan-banner {
  position: relative;
  max-height: 500px;
  background: url(../images/sullivan-banner.jpg) center center no-repeat;
  background-size: cover;
}

.sullivan-banner:after {
  padding-top: 50%;
  display: inline-block;
  content: '';
}

.sullivan-banner .project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sullivan-banner H2 {
  margin: 0 0 0.4em;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 466.66%;
  line-height: 1em;
}

.sullivan-banner .task {
  margin-bottom: 4em;
}

.sullivan-green {
  background: #74AA42;
  padding: 5em 0;
}

.sullivan-green IMG {
  float: left;
  width: 22.6%;
  height: auto;
  margin-left: 3.2%;
}

.sullivan-green IMG:first-child {
  margin-left: 0;
}

.sullivan-gray {
  background: #37424A;
  color: #FFFFFF;
}

.sullivan-gallery .fancybox {
  float: left;
  line-height: 0;
  margin: 0 1.7% 1em 0;
  background-size: cover !important;
  background-position: center !important;
}

.sullivan-gallery .fancybox.last {
  margin: 0 0 1em 0;
}

.sullivan-gallery .fancybox IMG {
  visibility: hidden;
}

.sullivan-gallery .fancybox:hover IMG {
  visibility: visible;
}

.sullivan-gallery A.button:link,
.sullivan-gallery A.button:visited {
  border-color: #69C9CA;
  color: #162727;
  font-weight: 800;
}

.sullivan-gallery A.button:hover,
.sullivan-gallery A.button:active {
  color: #69C9CA;
}

.belardi-left {
  float: left;
  width: 34%;
  text-align: right;
  line-height: 1.6em;
}

.belardi-right {
  float: right;
  width: 61%;
}

.belardi-left H2 {
  margin: 0 0 0.3em;
  color: #D9B26C;
  font-weight: 800;
  font-size: 411.11%;
  line-height: 1em;
}

.belardi-gray {
  background: #252525;
  padding: 5em 0;
}

.belardi-gray IMG {
  float: left;
  width: 20.8%;
  height: auto;
  margin-left: 5.6%;
}

.belardi-gray IMG:first-child {
  margin-left: 0;
}

.belardi-gold {
  background: #D5B576;
}

.belardi A.button:link,
.belardi A.button:visited {
  border-color: #69C9CA;
  color: #162727;
  font-weight: 800;
}

.belardi A.button:hover,
.belardi A.button:active {
  color: #69C9CA;
}

.mcbe-banner {
  position: relative;
  max-height: 457px;
  background: url(../images/mcbe-banner.jpg) center center no-repeat;
  background-size: cover;
}

.mcbe-banner:after {
  padding-top: 45.7%;
  display: inline-block;
  content: '';
}

.mcbe-banner .project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mcbe-banner H2 {
  margin: 0 0 0.4em;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 400%;
  line-height: 1em;
}

.mcbe-banner .task {
  margin-bottom: 4em;
}

.mcbe-banner .fa-play {
  color: #F0AF20;
}

.mcbe-left {
  float: left;
  width: 47%;
}

.mcbe-right {
  float: right;
  width: 47%;
  text-align: right;
}

.mcbe-blue {
  background: #022C40;
}

.mcbe-posters {
  position: relative;
  max-height: 888px;
  background: url(../images/mcbe-posters.jpg) center center no-repeat;
  background-size: cover;
}

.mcbe-posters:after {
  padding-top: 88.8%;
  display: inline-block;
  content: '';
}

.mcbe-bottles {
  position: relative;
  max-height: 450px;
  background: url(../images/mcbe-bottles.jpg) center center no-repeat;
  background-size: cover;
}

.mcbe-bottles:after {
  padding-top: 45%;
  display: inline-block;
  content: '';
}

.mt-banner {
  position: relative;
  max-height: 450px;
  background: url(../images/mt-banner.jpg) center center no-repeat;
  background-size: cover;
}

.mt-banner:after {
  padding-top: 45%;
  display: inline-block;
  content: '';
}

.mt-banner .project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mt-banner H2 {
  margin: 0 0 0.4em;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 377.77%;
  line-height: 1em;
}

.mt-banner .task {
  margin-bottom: 4em;
}

.mt-mobile {
  position: relative;
  max-height: 750px;
  background: url(../images/mt-mobile.jpg) center center no-repeat;
  background-size: cover;
}

.mt-mobile:after {
  padding-top: 75%;
  display: inline-block;
  content: '';
}

.mt-blue {
  background: #264A72;
  color: #FFFFFF;
}

.mt A.button:link,
.mt A.button:visited {
  border-color: #69C9CA;
  color: #162727;
  font-weight: 800;
}

.mt A.button:hover,
.mt A.button:active {
  color: #69C9CA;
}

.mt-meeting {
  position: relative;
  max-height: 450px;
  background: url(../images/mt-meeting.jpg) center center no-repeat;
  background-size: cover;
}

.mt-meeting:after {
  padding-top: 45%;
  display: inline-block;
  content: '';
}

.gossen-left {
  float: left;
  width: 31.7%;
  text-align: right;
}

.gossen-right {
  float: right;
  width: 63.5%;
  line-height: 1.8em
}

.gossen-left H2 {
  margin: 0 0 0.4em;
  color: #232F67;
  font-weight: 800;
  font-size: 433.33%;
  line-height: 1em;
}

.gossen-left .task {
  margin-bottom: 4em;
}

.gossen-style-guide {
  position: relative;
  max-height: 870px;
  background: url(../images/gossen-style-guide.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-style-guide:after {
  padding-top: 87%;
  display: inline-block;
  content: '';
}

.gossen-style-guide-page-left {
  float: left;
  width: 43.3%;
}

.gossen-style-guide-page-right {
  float: right;
  width: 43.3%;
  text-align: right;
}

.gossen-blue {
  background: #232F67;
  color: #FFFFFF;
}

.gossen-brochure {
  position: relative;
  max-height: 802px;
  background: url(../images/gossen-brochure.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-brochure:after {
  padding-top: 80.2%;
  display: inline-block;
  content: '';
}

.gossen-gray {
  background: #E8E8EA;
}

.gossen-gallery {
  padding-bottom: calc(5em - 2.5%);
}

.gossen-gallery .fancybox {
  float: left;
  line-height: 0;
  margin: 0 3.65% 3.65% 0;
  background-size: cover !important;
  background-position: center !important;
  width: 30.9%;
}

.gossen-gallery .fancybox.last {
  margin-right: 0;
}

.gossen-gallery .fancybox:after {
  padding-top: 66.99%;
  display: inline-block;
  content: '';
}

.gossen-deck {
  position: relative;
  max-height: 450px;
  background: url(../images/gossen-deck.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-deck:after {
  padding-top: 45%;
  display: inline-block;
  content: '';
}

.centennial-left {
  float: left;
  width: 39.2%;
  text-align: right;
}

.centennial-right {
  float: right;
  width: 59.5%;
}

.centennial-left H2 {
  margin: 0 0 0.4em;
  color: #B52025;
  font-weight: 800;
  font-size: 333.33%;
  line-height: 1em;
}

.centennial-left .task {
  margin-bottom: 2em;
}

.centennial-tablet {
  background: #FBF9EC;
}

.centennial-tablet IMG {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.centennial-banner {
  position: relative;
  max-height: 600px;
  background: url(../images/centennial-banner.jpg) center center no-repeat;
  background-size: cover;
}

.centennial-banner:after {
  padding-top: 60%;
  display: inline-block;
  content: '';
}

.md-left {
  float: left;
  width: 45%;
  text-align: right;
}

.md-right {
  float: right;
  width: 50%;
  line-height: 1.8em;
}

.md-left H2 {
  margin: 0 0 0.4em;
  color: #CB2127;
  font-weight: 800;
  font-size: 380%;
  line-height: 1em;
}

.md-left .task {
  margin-bottom: 3em;
}

.md-responsive {
  background: #CB2027;
  padding: 1em 0;
}

.md-responsive IMG {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.md-gallery {
  padding-bottom: calc(5em - 2.5%);
}

.md-gallery .fancybox {
  float: left;
  line-height: 0;
  margin: 0 3.65% 3.65% 0;
  background-size: cover !important;
  background-position: center !important;
  width: 30.9%;
}

.md-gallery .fancybox.last {
  margin-right: 0;
}

.md-gallery .fancybox:after {
  padding-top: 66.99%;
  display: inline-block;
  content: '';
}

.md-banner {
  position: relative;
  max-height: 450px;
  background: url(../images/md-banner.jpg) center center no-repeat;
  background-size: cover;
}

.md-banner:after {
  padding-top: 45%;
  display: inline-block;
  content: '';
}

.dominican-tablet {
  background: #1B9F68;
  padding-top: 3em;
}

.dominican-tablet IMG {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.dominican-left {
  float: left;
  width: 39.7%;
  text-align: right;
}

.dominican-right {
  float: right;
  width: 55.4%;
}

.dominican-left H2 {
  margin: 0 0 0.4em;
  color: #1B9F68;
  font-weight: 800;
  font-size: 305.55%;
  line-height: 1em;
}

.dominican-left .task {
  margin-bottom: 2em;
}

.dominican-mobile {
  background: #ECECEB;
  padding: 5em 0;
}

.dominican-mobile IMG {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.jim-left {
  float: left;
  width: 30%;
  text-align: right;
}

.jim-right {
  float: right;
  width: 63%;
  line-height: 1.8em;
}

.jim-left H2 {
  margin: 0 0 0.4em;
  color: #F8B857;
  font-weight: 800;
  font-size: 455.55%;
  line-height: 1em;
}

.jim-left .task {
  margin-bottom: 2em;
}

.jim-responsive {
  background: #1F1919;
  padding: 1.6em 0;
}

.jim-responsive IMG {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.jimages IMG {
  margin-top: 3em;
}

.jimage-left {
  float: left;
  width: 47.6%;
}

.jimage-right {
  float: right;
  width: 47.6%;
}

.jimage-left IMG,
.jimage-right IMG {
  max-width: 100%;
  height: auto;
}

.gossen-railing-banner {
  position: relative;
  max-height: 682px;
  background: url(../images/gossen-railing-banner.jpg) center center no-repeat;
  background-size: cover;
}

.gossen-railing-banner:after {
  padding-top: 68.2%;
  display: inline-block;
  content: '';
}

.gossen-railing-left {
  float: left;
  width: 32.7%;
  text-align: right;
}

.gossen-railing-right {
  float: right;
  width: 62.4%;
}

.gossen-railing-right IMG {
  max-width: 100%;
  height: auto;
}

.gossen-railing-left H2 {
  margin: 0 0 0.4em;
  color: #232F67;
  font-weight: 800;
  font-size: 433.33%;
  line-height: 1em;
}

.gossen-railing-left .task {
  margin-bottom: 3em;
}

.kmtooling-left {
  float: left;
  width: 36.6%;
  text-align: right;
}

.kmtooling-right {
  float: right;
  width: 61%;
  text-align: left;
  line-height: 1.8em;
}

.kmtooling-left H2 {
  margin: 0 0 0.4em;
  color: #1B75BB;
  font-weight: 800;
  font-size: 433.33%;
  line-height: 1em;
}

.kmtooling-left .task {
  margin-bottom: 3em;
}

.kmtooling-blue {
  background: #1B75BB;
  padding: 5em 0;
}

.kmtooling-blue IMG {
  float: left;
  width: 21.7%;
  height: auto;
  margin-left: 4.4%;
}

.kmtooling-blue IMG:first-child {
  margin-left: 0;
}

.kmtooling-gray {
  background: #F1F1F2;
}

.kmtooling A.button:link,
.kmtooling A.button:visited {
  border-color: #69C9CA;
  color: #162727;
  font-weight: 800;
}

.kmtooling A.button:hover,
.kmtooling A.button:active {
  color: #69C9CA;
}

.kmtooling-banner {
  position: relative;
  max-height: 500px;
  background: url(../images/kmtooling-banner.jpg) center center no-repeat;
  background-size: cover;
}

.kmtooling-banner:after {
  padding-top: 50%;
  display: inline-block;
  content: '';
}

.chaput-banner {
  position: relative;
  max-height: 450px;
  background: url(../images/chaput-banner.jpg) center center no-repeat;
  background-size: cover;
}

.chaput-banner:after {
  padding-top: 45%;
  display: inline-block;
  content: '';
}

.chaput-left {
  float: left;
  width: 32.7%;
  text-align: right;
}

.chaput-right {
  float: right;
  width: 62.4%;
  text-align: right;
  padding-top: 1.5em;
}

.chaput-left .task {
  margin-bottom: 1.5em;
}

.chaput-right IMG {
  max-width: 100%;
  height: auto;
}

.chaput-3-logos {
  display: block;
  margin: 5em auto 0;
}

.chaput-red {
  background: #720E1F;
}

.chaput-footer {
  position: relative;
  max-height: 570px;
  background: url(../images/chaput-footer.jpg) center center no-repeat;
  background-size: cover;
}

.chaput-footer:after {
  padding-top: 57%;
  display: inline-block;
  content: '';
}

.wichman-header {
  background: #1F80A9 url(../images/wichman-header.jpg) center top no-repeat;
}

.wichman-header-left {
  float: left;
  width: 34.1%;
  color: #FFFFFF;
  font-size: 94.44%;
}

.wichman-header-left H2 {
  margin: 0 0 0.6em;
  color: #F15A2A;
  font-weight: 800;
  font-size: 382.35%;
  line-height: 1em;
  position: relative;
  top: -0.15em;
}

.wichman-header-left .task {
  margin-bottom: 3em;
}

.wichman-header-right {
  float: right;
  width: 59.5%;
}

.wichman-header-left IMG {
  max-width: 100%;
  height: auto;
}

.wichman-header-right IMG {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.32);
  box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.32);
}

.wichman-formats {
  background: #003A51;
  color: #FFFFFF;
  padding-bottom: 4em;
}

.wichman-formats IMG {
  position: relative;
  top: -55px;
  max-width: 100%;
  height: auto;
}

.wichman-formats .site-width {
  position: relative;
}

.wichman-formats-content {
  position: absolute;
  top: 4em;
  left: 0;
  width: 22%;
  font-size: 94.44%;
}

.wichman-formats-content A:link,
.wichman-formats-content A:visited {
  color: #1F80A9;
  font-weight: bold;
}

.wichman-formats-content A:hover,
.wichman-formats-content A:active {
  color: #FFFFFF;
}

.wichman-footer {
  position: relative;
  max-height: 578px;
  background: url(../images/wichman-footer.jpg) center center no-repeat;
  background-size: cover;
}

.wichman-footer:after {
  padding-top: 57.8%;
  display: inline-block;
  content: '';
}

.suzys {
  background: #C1262B;
  color: #590000;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.8em;
}

.suzys .header-left {
  float: left;
  width: 41%;
}

.suzys .header-left H2 {
  margin: 0 0 0.4em;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 112px;
  line-height: 0.9em;
}

.suzys .header-left .task {
  font-size: 16px;
  color: #550F0E;
}

.suzys .header-left .fa-play {
  color: #FFFFFF;
  margin: 3em 0;
}

.suzys .header-right {
  float: right;
  width: 53%;
}

.suzys .content-left {
  float: left;
  width: 48%;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.7em;
  margin-bottom: 3em;
}

.suzys .content-left H3 {
  margin: 0 0 0.1em;
  font-weight: 800;
  font-size: 98px;
  line-height: 1em;
}

.suzys .content-left UL {
  margin: 4em 0 0 0.7em;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  line-height: 1.3em;
}

.suzys .content-left UL LI {
  padding-bottom: 2em;
  position: relative;
}

.suzys .content-left UL LI:before {
  font-family: FontAwesome;
  content: '\f10c';
  font-size: 0.5em;
  font-weight: bold;
  position: absolute;
  top: -0.1em;
  left: -1.7em;
  color: #F8ECE6;
}

.suzys .content-right {
  float: right;
  width: 47%;
  position: relative;
}

.suzys .content-right IMG {
  position: absolute;
  top: -13em;
}

.suzys .suzys-twitter {
  margin-bottom: 4em;
}

.suzys .suzys-twitter IMG {
  float: left;
  width: 31%;
  margin-right: 3.5%;
  height: auto;
  -webkit-box-shadow: 0 0 32px 0 rgba(60,0,0,0.3);
  -moz-box-shadow: 0 0 32px 0 rgba(60,0,0,0.3);
  box-shadow: 0 0 32px 0 rgba(60,0,0,0.3);
}

.suzys .suzys-twitter IMG:last-of-type {
  margin-right: 0;
}

.suzys .facebook-left {
  float: left;
  width: 35%;
}

.suzys .facebook-left IMG {
  -webkit-box-shadow: 0 0 32px 0 rgba(60,0,0,0.3);
  -moz-box-shadow: 0 0 32px 0 rgba(60,0,0,0.3);
  box-shadow: 0 0 32px 0 rgba(60,0,0,0.3);
}

.suzys .facebook-right {
  float: right;
  width: 61%;
  font-size: 19px;
}

.suzys .facebook-right H2 {
  margin: 0 0 0.3em;
  font-weight: 800;
  font-size: 98px;
  line-height: 1em;
}

.suzys .facebook-right .left {
  float: left;
  width: 30%;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 100px;
  line-height: 1em;
}

.suzys .facebook-right .left SUP {
  font-size: 50%;
  line-height: 1em;
}

.suzys .facebook-right .right {
  float: right;
  width: 66%;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5em;
  height: 100px;
  position: relative;
}

.suzys .facebook-right .right DIV {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.suzys .marketing {
  margin-top: 3em;
}

.suzys .marketing H2 {
  margin: 0 0 0.3em;
  font-weight: 800;
  font-size: 88px;
  line-height: 1em;
}

.suzys .marketing .three-col {
  float: left;
  width: 30%;
  margin: 3em 5% 0 0;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4em;
}

.suzys .marketing .three-col:last-of-type {
  margin-right: 0;
}

.suzys .marketing .three-col H3 {
  margin: 0 0 0.2em;
  font-weight: 800;
  font-size: 90px;
  line-height: 1em;
  color: #FFFFFF;
}

.suzys .marketing .three-col H3 SUP {
  font-size: 50%;
  line-height: 1em;
}

.deviation-header {
  background: url(../images/deviation-header.jpg) no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  line-height: 2em;
  padding-bottom: 500px;
  position: relative;
}

.deviation-header H2 {
  margin: 0 0 0.75em;
  font-weight: 800;
  font-size: 120px;
  letter-spacing: 0.33em;
}

.deviation-header .task {
  color: #3F79B9;
  font-size: 14px;
}

.deviation-header .fa-play {
  color: #FFFFFF;
  margin-top: 3em;
}

.deviation-header IMG {
  position: absolute;
  bottom: -105px;
  left: 50%;
  transform: translateX(-50%);
}

.deviation-slider {
  padding: 9em 0 4em;
  background: url(../images/deviation-slider.jpg) no-repeat center center;
  background-size: cover;
  color: #002430;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
}

.deviation-slider .shadow {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(5,36,47,0.35);
  -moz-box-shadow: 0px 0px 45px 0px rgba(5,36,47,0.35);
  box-shadow: 0px 0px 45px 0px rgba(5,36,47,0.35);
}

.cycle-prev, .cycle-next {
  position: absolute;
  top: 0;
  width: 35px;
  z-index: 800;
  height: 100%;
  cursor: pointer;
}

.cycle-next {
  right: 0;
}

.cycle-prev:after,
.cycle-next:after {
  content: "\f190";
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  color: #FFFFFF;
  font-weight: normal;
  font-size: 32px;
}

.cycle-next:after {
  content: "\f18e";
  left: auto;
  right: 1px;
}

.cycle-prev:hover:after,
.cycle-next:hover:after {
  color: #CCCCCC;
}

.deviation-footer {
  background: url(../images/deviation-footer.jpg) no-repeat center top;
  color: #FFFFFF;
  line-height: 2em;
  padding: 4em 0 5em;
  text-align: center;
}

.deviation-footer .one-third {
  float: left;
  width: 25.1%;
  text-align: left;
}

.deviation-footer .one-third:first-child {
  width: 30%;
  margin-right: 8%;
}

.deviation-footer .one-third.last {
  float: right;
  position: relative;
  top: -6em;
}

.deviation-footer .one-third IMG:first-of-type {
  margin-bottom: 6em;
}

.deviation-footer .one-third:first-child IMG:first-of-type {
  margin: 5em 0;
}

.deviation-footer A.button:link,
.deviation-footer A.button:visited {
  color: #FFFFFF;
  border-color: #69C9CA;
  margin-top: 3em;
}

.deviation-footer A.button:hover,
.deviation-footer A.button:active {
  color: #69C9CA;
}

.project-nav {
  border-top: 1px solid #E2E2E1;
  padding: 2em 0;
}

.project-nav .prev,
.project-nav .home,
.project-nav .next {
  float: left;
  width: 40%;
}

.project-nav .home {
  width: 20%;
  text-align: center;
}

.project-nav .next {
  text-align: right;
}

.project-nav A:link,
.project-nav A:visited {
  font-weight: 800;
  font-size: 111.11%;
  color: #636363;
}

.project-nav .home A:link,
.project-nav .home A:visited {
  color: #E2E2E1;
}

.project-nav A:hover,
.project-nav A:active,
.project-nav .home A:hover,
.project-nav .home A:active {
  color: #69C9CA;
}

.project-nav .fa-play {
  color: #69C9CA;
  font-size: 60%;
  position: relative;
  top: -3px;
}


@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .project .one-half H2 {
    font-size: 350%;
  }

  .project .one-third H2 {
    font-size: 420%;
  }

  .fear-left {
    width: 50%;
  }

  .fear-right {
    width: 45%;
  }

  .fear-green-right H2 {
    margin: 0 0 1.5em;
  }

  .sullivan-gallery .fancybox {
    width: 23.725%;
  }

  .belardi-left {
    width: 50%;
  }

  .belardi-right {
    width: 45%;
  }

  .gossen-left H2 {
    font-size: 320%;
  }

  .centennial-left {
    width: 50%;
  }

  .centennial-right {
    width: 45%;
  }

  .centennial-left H2 {
    font-size: 300%;
  }

  .md-left,
  .md-right {
    float: none;
    width: 100%;
    text-align: left;
  }

  .md-left {
    margin-bottom: 2em;
  }

  .dominican-left {
    width: 60%;
  }

  .dominican-right {
    width: 35%;
  }

  .jim-left {
    width: 42%;
  }

  .jim-right {
    width: 52%;
  }

  .gossen-railing-left,
  .gossen-railing-right {
    width: 48%;
  }

  .kmtooling-left {
    width: 50%;
  }

  .kmtooling-right {
    width: 45%;
  }

  .chaput-left,
  .chaput-right {
    float: none;
    width: 100%;
    text-align: left;
  }

  .chaput-right {
    text-align: center;
    padding-top: 3em;
  }

  .wichman-header-left H2 {
    font-size: 270%;
  }

  .wichman-formats {
    padding-bottom: 1.5em;
  }

  .wichman-formats-content {
    top: 1.5em;
    font-size: 90%;
  }

  .suzys .header-left H2 {
    font-size: 86px;
  }

  .suzys .content-right IMG {
    top: 3em;
  }

  .suzys .facebook-right H2 {
    font-size: 80px;
  }

  .suzys .facebook-right .left {
    font-size: 80px;
  }

  .suzys .facebook-right .right {
    height: 80px;
  }

  .suzys .marketing .three-col H3 {
    font-size: 65px;
  }

  .deviation-header {
    padding-bottom: 300px;
  }

  .deviation-header H2 {
    letter-spacing: 5px;
  }

  .deviation-slider IMG,
  .deviation-footer .one-third IMG {
    max-width: 90%;
    height: auto;
  }

  .deviation-footer .one-third {
    width: 30%;
  }

  .deviation-footer .one-third:first-child {
    margin-right: 5%;
  }

  .deviation-footer .one-third:first-child SPAN {
    display: block;
    width: 330%;
  }
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .project .one-half,
  .project .one-half-right,
  .project .one-third,
  .project .two-third {
    float: none;
    width: 100%;
    text-align: left;
  }

  .project .one-half H2 {
    font-size: 485.714%;
  }

  .project .one-third H2 {
    font-size: 528.57%;
  }

  .gossen-product-guide-stack .site-width DIV H2 {
    font-size: 420%;
  }

  .fear-left,
  .fear-right,
  .fear-green-left,
  .fear-green-right {
    float: none;
    width: 100%;
  }

  .fear-left {
    text-align: left;
    margin-bottom: 2em;
  }

  .fear-green-right H2 {
    margin: 2em 0 1em;
  }

  .sullivan-banner H2 {
    font-size: 400%;
  }

  .sullivan-green {
    padding: 4em 0;
  }

  .sullivan-green IMG,
  .sullivan-green IMG:first-child {
    width: 40%;
    margin: 1em 5%;
  }

  .sullivan-gallery .fancybox,
  .sullivan-gallery .fancybox.last {
    width: 48.2%;
    margin: 0 0.9% 0.9em 0.9%;
  }

  .sullivan-gallery .fancybox IMG {
    width: 100%;
  }

  .belardi-left,
  .belardi-right {
    float: none;
    width: 100%;
  }

  .belardi-left {
    text-align: left;
    margin-bottom: 2em;
  }

  .belardi-gray {
    padding: 4em 0;
  }

  .belardi-gray IMG,
  .belardi-gray IMG:first-child {
    width: 37%;
    margin: 1em 6.5%;
  }

  .mcbe-banner H2 {
    font-size: 300%;
  }

  .mcbe-banner .task {
    margin-bottom: 2em;
  }

  .mcbe-left,
  .mcbe-right {
    float: none;
    width: 100%;
  }

  .mcbe-right {
    text-align: center;
    margin-top: 2em;
  }

  .mt-banner H2 {
    font-size: 300%;
  }

  .mt-banner .task {
    margin-bottom: 2em;
  }

  .gossen-left,
  .gossen-right {
    float: none;
    width: 100%;
    text-align: left;
  }

  .gossen-left {
    margin-bottom: 2em;
  }

  .gossen-left H2 {
    font-size: 433.33%;
  }

  .gossen-style-guide-page-left,
  .gossen-style-guide-page-right {
    float: none;
    width: 100%;
    text-align: center;
  }

  .gossen-style-guide-page-left {
    margin-bottom: 2em;
  }

  .centennial-left,
  .centennial-right {
    float: none;
    width: 100%;
    text-align: left;
  }

  .centennial-left {
    margin-bottom: 2em;
  }
  
  .centennial-left H2 {
    font-size: 333.33%;
  }

  .dominican-left,
  .dominican-right {
    float: none;
    width: 100%;
    text-align: left;
  }

  .dominican-left {
    margin-bottom: 2em;
  }

  .jim-left,
  .jim-right {
    float: none;
    width: 100%;
    text-align: left;
  }

  .jim-left {
    margin-bottom: 2em;
  }

  .gossen-railing-left,
  .gossen-railing-right {
    float: none;
    width: 100%;
    text-align: left;
  }

  .gossen-railing-left {
    margin-bottom: 2em;
  }

  .gossen-railing-left H2 {
    font-size: 360%;
  }

  .kmtooling-left,
  .kmtooling-right {
    float: none;
    width: 100%;
    text-align: left;
  }

  .kmtooling-left {
    margin-bottom: 2em;
  }

  .kmtooling-blue {
    padding: 4em 0;
  }

  .kmtooling-blue IMG,
  .kmtooling-blue IMG:first-child {
    width: 38.5%;
    margin: 1em 5.75%;
  }

  .wichman-header-left,
  .wichman-header-right {
    float: none;
    width: 100%;
  }

  .wichman-header-left {
    margin-bottom: 2em;
  }

  .wichman-header-left H2 {
    font-size: 382.35%;
  }

/*  .wichman-formats {
    padding-bottom: 1.5em;
  }

  .wichman-formats-content {
    top: 1.5em;
    font-size: 90%;
  }*/
  
  .wichman-formats {
    padding: 4em 0;
  }

  .wichman-formats IMG {
    top: 0;
  }

  .wichman-formats-content {
    top: 0;
    width: 75%;
  }

  .suzys .header-left,
  .suzys .header-right {
    float: none;
    width: 100%;
  }

  .suzys .header-left H2 {
    font-size: 112px;
  }

  .suzys .header-left .fa-play {
    margin: 1em 0;
  }

  .suzys .content-left,
  .suzys .content-right {
    float: none;
    width: 100%;
  }

  .suzys .content-left {
    margin: 2em 0 0;
  }

  .suzys .content-left UL {
    margin-top: 2em;
  }

  .suzys .content-right IMG {
    position: static;
    margin-bottom: 2em;
  }

  .suzys .suzys-twitter IMG {
    float: none;
    width: 100%;
    margin: 0 0 2em 0;
  }

  .suzys .facebook-left,
  .suzys .facebook-right {
    float: none;
    width: 100%;
  }

  .suzys .facebook-left {
    margin-bottom: 2em;
  }

  .suzys .facebook-right H2 {
    font-size: 98px;
  }

  .suzys .facebook-right .left {
    font-size: 100px;
  }

  .suzys .facebook-right .right {
    height: 100px;
  }

  .suzys .marketing .three-col {
    float: none;
    width: 100%;
    margin: 0 0 2em 0;
  }

  .suzys .marketing .three-col H3 {
    font-size: 90px;
  }

  .deviation-header {
    padding-bottom: 200px;
  }

  .deviation-header H2 {
    font-size: 100px;
    letter-spacing: 0;
  }

  .deviation-footer {
    background-size: cover;
  }

  .deviation-footer .one-third {
    width: 45%;
  }

  .deviation-footer .one-third:first-child {
    width: 45%;
    margin-right: 10%;
  }

  .deviation-footer .one-third:first-child SPAN {
    display: inline;
  }

  .deviation-footer .one-third IMG {
    max-width: 100%;
  }

  .deviation-footer .dev-clear {
    clear: both;
  }

  .deviation-footer .one-third.last {
    float: none;
    width: 100%;
    top: 0;
    margin-top: 5em;
  }

  .deviation-footer .one-third.last IMG:first-of-type {
    float: left;
    margin: 3em 0 0;
  }

  .deviation-footer .one-third.last IMG:last-of-type {
    float: right;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .project .one-half H2 {
    font-size: 380%;
  }

  .gossen-product-guide-stack .site-width DIV {
    width: 100%;
    padding-top: 1.5em;
  }

  .gossen-product-guide-stack .site-width DIV H2 {
    font-size: 300%;
  }

  .sullivan-banner H2 {
    font-size: 270%;
  }

  .sullivan-banner .task {
    margin-bottom: 1.5em;
  }

  .sullivan-gallery .fancybox,
  .sullivan-gallery .fancybox.last {
    float: none;
    margin: 0 auto 0.9em;
    display: block;
    width: 96%;
    height: auto;
  }

  .mcbe-banner H2 {
    font-size: 200%;
  }

  .mcbe-banner .task {
    margin-bottom: 1em;
  }

  .mt-banner H2 {
    font-size: 200%;
  }

  .mt-banner .task {
    margin-bottom: 1em;
  }

  .gossen-gallery .fancybox {
    width: 100%;
    margin-right: 0;
  }

  .centennial-left H2 {
    font-size: 300%;
  }

  .md-left H2 {
    font-size: 300%;
  }

  .md-gallery .fancybox {
    width: 100%;
    margin-right: 0;
  }

  .jim-left H2 {
    margin-left: 0.1em;
  }
  
  .jimage-left,
  .jimage-right {
    float: left;
    width: 100%;
  }

  .project-nav .prev,
  .project-nav .home,
  .project-nav .next {
    float: none;
    width: 100%;
    text-align: center;
  }

  .wichman-formats {
    padding-bottom: 2.5em;
  }

  .wichman-formats-content {
    top: -2em;
    width: 100%;
  }

  .suzys .header-left H2 {
    font-size: 100px;
  }

  .suzys .content-left H3 {
    font-size: 75px;
  }

  .suzys .facebook-right H2 {
    font-size: 67px;
  }

  .suzys .facebook-right .left,
  .suzys .facebook-right .right {
    width: 50%;
  }

  .suzys .marketing H2 {
    font-size: 60px;
  }

  .deviation-header {
    padding-bottom: 50px;
  }

  .deviation-header H2 {
    font-size: 65px;
    letter-spacing: 0;
  }

  .deviation-footer .one-third,
  .deviation-footer .one-third:first-child {
    float: none;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .deviation-footer .one-third.last {
    margin-top: 0;
  }

  .deviation-footer .one-third.last IMG:first-of-type,
  .deviation-footer .one-third.last IMG:last-of-type {
    float: none;
    margin: 2em 0 0;
  }
  
  .deviation-footer .one-third IMG,
  .deviation-footer .one-third IMG:first-of-type {
    margin: 2em 0 0;
  }

  .deviation-footer .one-third:first-child IMG:first-of-type {
    margin: 2em 0;
  }
}

@media only screen and (max-width: 320px) {
  /* Small Phone */
  .project .one-half H2 {
    font-size: 320%;
  }

  .fear-left H2 {
    font-size: 390%;
  }

  .sullivan-banner H2 {
    font-size: 230%;
  }

  .belardi-left H2 {
    font-size: 390%;
  }

  .mcbe-banner H2 {
    font-size: 170%;
  }

  .mt-banner H2 {
    font-size: 170%;
  }

  .gossen-left H2 {
    font-size: 400%;
  }

  .centennial-left H2 {
    font-size: 250%;
  }

  .md-left H2 {
    font-size: 250%;
  }

  .dominican-left H2 {
    font-size: 270%;
  }

  .kmtooling-left H2 {
    font-size: 360%;
  }

  .wichman-header-left H2 {
    font-size: 335%;
  }

  .wichman-formats-content A {
    position: relative;
    top: -1em;
  }

  .suzys .header-left H2 {
    font-size: 84px;
  }

  .suzys .content-left H3 {
    font-size: 62px;
  }

  .suzys .facebook-right H2 {
    font-size: 57px;
  }

  .suzys .facebook-right .left {
    font-size: 80px;
  }

  .suzys .marketing H2 {
    font-size: 50px;
  }

  .deviation-header {
    padding-bottom: 0;
  }

  .deviation-header H2 {
    font-size: 55px;
  }
}